#!/usr/bin/env sh

# Required to run the connector
export BLOCKFROST_KEY=xxxxxxxxxxx

# Required when running demo. ADDR_FROM should be the address of a private key saved in `infra/wallet` directory
export ADDR_FROM=addr_test1xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
export ADDR_TO=addr_test1xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
